* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #ffffff;
  --teal: #14B8A6;
  --teal-dark: #0D9488;
  --text-dark: #1F2937;
  --text-light: #6B7280;
}

body {
  font-family: 'Inter', 'sans-serif';
  background-color: var(--white);
  color: var(--text-dark);
  line-height: 1.6;
}

button {
  font-family: inherit;
}
